<h3>Successfully imported <%= @good.count %> Inventory Objects! </h3>
<% @bad.each do |record| %>
	<%= record[:row]['id1'] %>
	<% record[:errors].each do |error, msg| %>
		<%= error %> : <%= msg %>
	<% end %>
	</br>
<% end %>
