<div class="well well-small">
  <p><%= report.body %></p>
  <% if report.open_issue then %>
    <span class="label label-important">Open</span>
  <% else %>
    <span class="label label-info">Closed</span>
  <% end %>
  <% link_to "Edit", edit_report_entry_path(report), :class => "btn btn-warning" %>
  <p><h6>Reported by: <%= report.administrator.fullname %> at <%= report.created_at %></h6></p>
  <p><h6>Applies to: 
    <% report.inventory_objects.each do |object| %>
      <%= link_to object.id1, object %>, 
    <% end %>
  </h6></p>
</div>

