<%- model_class = ReportEntry -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<div class="span6 offset3">
  <%= render :partial => 'form' %>
</div>
