<%- model_class = ReportEntry -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row">
<form class="navbar-search pull-left" action="<%= report_entries_path %>" method="get">
	<input type="text" class="search-query span2" name="q" placeholder="Report Entry Search">
</form>
</div>

<% @report_entries.each do |report| %>
  <%= render 'show', :report => report %>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_report_entry_path,
            :class => 'btn btn-primary' %>
